@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.swiper {
    width: 1000px;
}

.logo-container img{
    width: 150px;
}
@keyframes scroll-x {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-100% - 20px));
    }
}

.logo-container {
    width: 100%;
    /* animation: scroll-x 10s linear infinite; */
    animation-delay: -3s;
    animation-direction: reverse;
}

